<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>|关于我们</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/about-ours.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/theam.png" media="screen" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/theam.png" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <img class="img-nav" src="/images/logo.png">
    </div>
    <div class="col-xs-7">
      <div class="nav-bar">
        <ul class="nav nav-pills nav-list">
          <li role="presentation" class="active-data"><a href="/">首页</a></li>
          <li role="presentation" class="active-data"><a href="news">新闻</a></li>
          <li role="presentation" class="data active-data"><a href="data">数据</a></li>
          <li role="presentation" class="active-data"><a href="snow">积雪观测</a></li>
          <li role="presentation" class="active-data"><a href="picture">相册</a></li>
          <li role="presentation" class="active active-data"><a href="about-ours">关于我们</a></li>
        </ul>
      </div>
      <div class="con-login">
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a class="a-login" href="login">登录</a>
        </button>
        <button  type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <a class="a-login" href="register">注册</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/2.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="/images/1.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="/images/3.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="new-nav border">
        <div class="col-xs-11 nav-news-list">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="about-ours">平台简介<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="borders"><a href="member" class="a-news">研究人员<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="borders"><a href="data-from" class="a-news">数据来源<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="borders"><a href="items" class="a-news">使用条款<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="borders"><a href="ours" class="a-news">联系我们<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="news-page border">
        <div class="col-xs-offset-2 col-xs-1">
          <img src="/images/home.png" class="imgs">
        </div>
        <div class="col-xs-6">
          <span class="tags-font">积雪科学数据共享平台</span>
        </div>
        <div class="col-xs-12">
          <p class="p-font" id="p-1">以三江源青海湖、祁连山等重要生态功能区为重点，以1:50000基础地理信息为基准，开发建设多源汇交、天地一体、动态更新、界面友好的生态监测数据信息服务系统，建成为具有青海特色、国内技术上领先的生态环境监测资源库和工作平台，为“生态立省”构建信息制高点。</p>
          <p class="p-font" id="p-2"> 基于主中心PC服务器计算集群、存储盘阵、内外网环境、分中心计算节点、野外观测站点、平板电脑客户端等共同组成数据中心的计算环境，通过数据存储、数据发布、数据汇交、数据共享、数据处理与分析等实现对生态环境监测评价业务、科研和管理的支撑。</p>
        </div>
       </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-7">
      <div class="foot">
        <img src="/images/snowman.png">
      </div>
      <div class="foot">
        <div class="foot-a">
          <span class="span">©中国科学院寒区旱区环境与工程研究所遥感室2016-2017</span>
        </div>
        <div class="foot-a">
          <span class="span"><i class="glyphicon glyphicon-envelope"></i>联系我们</span>
          <span class="span">|邮箱|</span> <a class="" href="mailto:chetao@lzb.ac.cn">chetao@lzb.ac.cn</a>
          <span class="span">|</span><a class="" href="mailto:haoxh@lzb.ac.cn">haoxh@lzb.ac.cn</a>
          <span class="span">|</span><a class="" href="mailto:yaochao94@126.com">yaochao94@126.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
