<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>|数据下载</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/data/data-download.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/theam.png" media="screen" />
  <script type="text/javascript" src="http://api.tianditu.com/js/maps.js"></script>
  <script type="text/javascript" src="/javascripts/map.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body onload="onLoad()">
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <img class="img-nav" src="/images/logo.png">
    </div>
    <div class="col-xs-7">
      <div class="nav-bar">
        <ul class="nav nav-pills nav-list">
          <li role="presentation" class="active-data"><a href="index">首页</a></li>
          <li role="presentation" class="active-data"><a href="news">新闻</a></li>
          <li role="presentation" class="active data active-data"><a href="data">数据</a></li>
          <li role="presentation" class="active-data"><a href="snow">积雪观测</a></li>
          <li role="presentation" class="active-data"><a href="picture">相册</a></li>
          <li role="presentation" class="active-data"><a href="about-ours">关于我们</a></li>
        </ul>
      </div>
      <div class="con-login">
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a class="a-login" href="login">登录</a>
        </button>
        <button  type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <a class="a-login" href="register">注册</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/2.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item active">
            <img src="/images/1.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="/images/3.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="left-tag">
        <span class="glyphicon glyphicon-record"></span>
        <span class="span-tag">20071207A区雪属性调查实录</span>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-8">
        <div class="left-tag">
          <span class="glyphicon glyphicon-edit"></span>
          <span class="span-tag-news">摘要信息</span>
        </div>
        <div class="display-img">
          <p class="text-p">
            <img src="/images/news-3.jpg" class="img-rounded img-left">本数据为青海三江源区2012年甘德县草地样方监测数据，以Excle格式表达。 数据主要内容包括：包括站点名称、站点代码、样地所在区域、草地类型、工程类别、海拔、坡度、坡向、坡位、地貌一般特征、土壤一般特征、水文和水文地质、放牧方式、利用方式、总覆盖度；植株营养枝和生殖枝平均高度、优势种植株营养枝和生殖枝平均高度、植被覆盖度、优势种覆盖度、禾本科、莎草科、豆科、可食杂草、不可食杂草、毒草的生物量及所占的比例、可食草总量、总重量、可食率；每种植物名称及在每个样方出现频度，高大灌木和草本监测数据等。本数据为青海三江源区2012年甘德县草地样方监测数据，以Excle格式表达。 数据主要内容包括本数据为青海三江源区2012年甘德县草地样方监测数据，以Excle格式表达。 数据主要内容包括本数据为青海三江源区2012年甘德县草地样方监测数据，以Excle格式表达。 数据主要内容包括本数据为青海三江源区2012年甘德县草地样方监测数据，以Excle格式表达。 数据主要内容包括</p>
        </div>
        <div class="">
          <hr>
        </div>
        <div class="data-use">
          <span class="glyphicon glyphicon-check"></span>
          <span class="span-tag-news">本数据引用方式</span>
        </div>
        <div class="user-tags">
          <span class="label label-warning user-tag">本数据的引用:</span>
          <p class="p-user-p">青海省草原总站. 青海三江源区2012年甘德县草地样方监测数据集. 三江源生态监测综合服务平台, 2014. doi:10.3972/sjy.404.db (下载引用：RIS格式 | Bibtex格式 )</p>
        </div>
        <div>
          <hr>
        </div>
        <div class="data-clear">
          <span class="glyphicon glyphicon-log-out"></span>
          <span class="span-tag-news">数据使用声明</span>
          <p class="p-user">为尊重知识产权、保障数据作者的权益、扩展数据中心的服务、评估数据的应用潜力，请数据使用者在使用数据所产生的研究成果中（包括公开发表的论文、论著、数据产品和未公开发表的研究报告、数据产品等成果），明确注明数据来源和数据作者。对于转载（二次或多次发布）的数据，作者还须注明原始数据来源。中文发表的成果参考以下规范注明：数据来源于"三江源生态监测综合数据服务平台”(http://www.sanjiangyuan.org.cn)英文发表的成果依据以下规范注明： The data set is provided by Ecological data platform for Sanjiangyuan National Nature Reserve (http://www.sanjiangyuan.org.cn)</p>
        </div>
        <div>
          <hr>
        </div>
        <div class="tag">
          <span class="glyphicon glyphicon-log-in"></span>
          <span class="span-tag-news">数据标签</span>
        </div>
        <div class="alert alert-success" role="alert">
          <span class="name">学科:</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
        </div>
        <div class="alert alert-success" role="alert">
          <span class="name">地点:</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
        </div>
        <div class="alert alert-success" role="alert">
          <span class="name">时间词:</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
        </div>
        <div class="alert alert-success" role="alert">
          <span class="name">主题:</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
          <span class="glyphicon glyphicon-tags"></span>
          <span class="name-tag">草业学科</span>
        </div>
        <div>
          <hr>
        </div>
        <div class="tag">
          <span class="glyphicon glyphicon-share"></span>
          <span class="span-tag-news">数据分享</span>
        </div>
        <div>
          <hr>
        </div>
        <div class=" col-xs-offset-1 col-xs-8">
          <img src="/images/weixin.png" class="tag-img" role="button" >
          <img src="/images/qq.png" class="tag-img" role="button">
          <img src="/images/weibo.png" class="tag-img" role="button">
          <img src="/images/tuite.png" class="tag-img" role="button">
          <img src="/images/facebook.png" class="tag-img" role="button">
          <img src="/images/linked.png" class="tag-img" role="button">
          <img src="/images/Bebo.png" class="tag-img" role="button">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="right-tag">
          <span class="glyphicon glyphicon-folder-open"></span>
          <span class="span-tag-news">数据细节</span>
        </div>
        <div class="panels">
          <div class="alert alert-warning alert-dangers" role="alert">
            <span>数据格式:<i class="label-i">矢量数据</i></span>
            <span>数据大小:<i class="label-i">20.8MB</i></span>
          </div>
          <div class="alert alert-warning alert-dangers" role="alert">
            <span>数据浏览次数:<i class="label-i">200</i></span>
            <span>数据共享方式:<i class="label-i">离线</i></span>
          </div>
          <div class="alert alert-warning alert-dangers" role="alert">
            <span>数据时间范围:<i class="label-i">2010-01-11到2016-06-25</i></span>
          </div>
        </div>
        <div class="#">
          <hr>
        </div>
        <div class="right-tag">
          <span class="glyphicon glyphicon-globe"></span>
          <span class="span-tag-news">空间地理位置</span>
        </div>
        <div class="place">
          <div id="mapDiv" class="map">
          </div>
        </div>
        <div class="#">
          <hr>
        </div>
        <div class="right-tag">
          <span class="glyphicon glyphicon-phone"></span>
          <span class="span-tag-news">数据作者联系信息</span>
        </div>
        <div class="data-info">
          <div class="alert alert-warning info-name" role="alert">
            <span>元数据作者姓名:<i class="label-i">2016-03-02</i></span>
          </div>
          <div class="alert alert-warning info-name" role="alert">
            <span>元数据作者邮箱:<i class="label-i">1319260076@qq.com</i></span>
          </div>
        </div>
        <div class="#">
          <hr>
        </div>
        <div class="alert alert-info" role="alert">
          <span>元数据更新时间:<i class="label-i">2016-03-02</i></span>
        </div>
        <div class="">
          <div class="col-xs-5">
            <span class="dowland">元数据下载:</span>
          </div>
          <div class="col-xs-7">
            <img src="/images/word.png" role="button">
            <img src="/images/excl.png" role="button">
          </div>
        </div>
        <div class="">
          <button class="btn btn-success">数据下载</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-7">
      <div class="foot">
        <img src="/images/snowman.png">
      </div>
      <div class="foot">
        <div class="foot-a">
          <span class="span">©中国科学院寒区旱区环境与工程研究所遥感室2016-2017</span>
        </div>
        <div class="foot-a">
          <span class="span"><i class="glyphicon glyphicon-envelope"></i>联系我们</span>
          <span class="span">|邮箱|</span> <a class="" href="mailto:chetao@lzb.ac.cn">chetao@lzb.ac.cn</a>
          <span class="span">|</span><a class="" href="mailto:haoxh@lzb.ac.cn">haoxh@lzb.ac.cn</a>
          <span class="span">|</span><a class="" href="mailto:yaochao94@126.com">yaochao94@126.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>