<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>|登录</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/theam.png" media="screen" />
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="login box">
                    <div class="col-xs-7 image">
                        <img src="/images/logo_login.png">
                    </div>
                    <div class="col-xs-5">
                        <form action="/login" method="post">
                            <div class="input-group input-group-lg input">
                          <span class="input-group-btn">
                             <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-user"></i>
                             </button>
                          </span>
                                <input type="text" name="username" class="form-control" placeholder="">
                            </div>
                            <div class="input-group input-group-lg">
                          <span class="input-group-btn">
                             <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-lock"></i>
                             </button>
                          </span>
                                <input type="password" name="password" class="form-control" placeholder="">
                            </div>
                            <div class="button">
                                <a href="/">
                                    <button class="btn btn-info btn-len">登录</button>
                                </a>
                            </div>
                        </form>
                        <div class="button">
                            <a href="register"><button class="btn btn-info btn-len">注册</button></a>
                        </div>
                    </div>
                <div class="col-xs-12">
                    <div class="foot">
                        <div class="foot-a">
                            <a class="f-a">©中国科学院寒区旱区环境与工程研究所遥感室2016-2017</a>
                        </div>
                        <div class="foot-a">
                            <a class="glyphicon glyphicon-envelope">联系我们</a>
                            <a class="">|</a> <a class="">邮箱|chetao@lzb.ac.cn</a>
                            <a class="">|haoxh@lzb.ac.cn</a>
                            <a class="">|yaochao94@126.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>