<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>|积雪观测</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/snow.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/theam.png" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/responsive-nav.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <img class="img-nav" src="/images/logo.png">
    </div>
    <div class="col-xs-7">
      <div class="nav-bar">
        <ul class="nav nav-pills nav-list">
          <li role="presentation" class="active-data"><a href="/">首页</a></li>
          <li role="presentation" class="active-data"><a href="news">新闻</a></li>
          <li role="presentation" class="data active-data"><a href="data">数据</a></li>
          <li role="presentation" class="active active-data"><a href="snow">积雪观测</a></li>
          <li role="presentation" class="active-data"><a href="picture">相册</a></li>
          <li role="presentation" class="active-data"><a href="about-ours">关于我们</a></li>
        </ul>
      </div>
      <div class="con-login">
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a class="a-login" href="login">登录</a>
        </button>
        <button  type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <a class="a-login" href="register">注册</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/2.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="/images/1.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="/images/3.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="new-nav border">
        <div class="col-xs-11 nav-news-list">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="snow">积雪实验<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="borders"><a href="yard">积雪观测场<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="borders"><a href="lab" >积雪观测仪器<span class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="news-page border">
        <div class="col-xs-offset-4 col-xs-1 top">
          <img src="/images/snow-tag.png">
        </div>
        <div class="col-xs-7 top">
          <span class="snow">积雪实验简介</span>
        </div>
        <div class="col-xs-12">
          <hr>
        </div>
        <div class="col-xs-12">
          <h4 class="text-center fonts">积雪遥感协同观测系列试验</h4>
          <h4 class="text-center font-card">Cooperative Observation Series for Snow (COSS)</h4>
          <p><i class="glyphicon glyphicon-hand-right"></i>科学目标:</p>
          <p class="p-text-font">
            以积雪对气候变化的响应与反馈为科学背景，以融雪水资源估算和雪灾监测与评估为应用目标。联合国内外积雪遥感科研工作者通过一系列协同的地面、同步与控制试验，共同探索积雪遥感参数定量化过程的融合、尺度、验证、不确定性等关键问题，实现数据共享和数据最大化利用。
          </p>
          <p><i class="glyphicon glyphicon-hand-right"></i>试验地点:</p>
          <p class="p-text-font ">
            以我国三大积雪区（青藏高原、新疆、东北）为主要观测区，并在每个观测区布设了重点观测区。初步以青藏高原以那曲观测站为中心；新疆以阿勒泰积雪联合观测试验基地为中心；东北以净月潭遥感试验站为中心开展重点观测。并在国际上也开展了联合积雪观测和调查试验。
          </p>
          <p>试验参加单位：</p>
          <p class="p-text-font ">
            中国科学院寒区旱区环境与工程研究所、中国科学院新疆生态与地理研究所、中国科学院遥感与数字地球研究所、中国科学院青藏高原研究所、中国科学院东北地理与农业生态研究所、中国科学院青藏高原研究所、南京大学、兰州大学、北京师范大学、中国气象局国家卫星气象中心、中国气象局乌鲁木齐沙漠气象研究所、乌鲁木齐气象卫星地面站、阿勒泰气象局；美国德州大学圣安东尼奥分校，荷兰ITC。
          </p>
          <p><i class="glyphicon glyphicon-hand-right"></i>数据:</p>
          <p class="p-text-font ">
            获取野外实测三大研究区的雪深、雪密度、雪层温度、液态水含量、介电常数等积雪参数信息；积雪微波特性和光谱特性数据；积雪观测站自动观测积雪和相关气象数据；积雪样本及积雪尘埃分布和黑炭数据；积雪面积，积雪面积比例，雪深相关遥感产品。
          </p>
          <hr>
          <h4 class="text-center fonts">东北积雪全波段地物波谱测量联合试验</h4>
          <p class="p-text-font ">
            东北积雪全波段地物波谱联合观测试验于2016年1月8日在吉林长春开展，并与15结束。试验由中国科学院遥感与数字地球研究所和中国科学院东北地理与农业生态研究所设计并实施，中国科学院寒区旱区环境与工程研究所、北京师范大学以及南京大学共同参与。
          </p>
          <p class="p-text-font ">
            此次试验针对东北长春德惠试验站和蛟河等地的积雪、冻土和湖冰等寒区典型地表，综合利用便携式光谱辐射计、红外波谱仪、地基微波辐射计（ka，K波段）和车载微波辐射计（X,C,L波段）全波段仪器设备，测量了可见光近红外波段反射率、热红外和微波波段的发射率，并同步测量了积雪、冻土和湖冰地物波谱的配套参数。
          </p>
          <img src="/images/snow-img.png" class="img-ours-style ">
          <p class="text-center"><span class="from">照片来自中国科学院遥感与数字地球研究所</span></p>
          <p class="p-text-font ">
            试验为测绘地物波谱本底数据库的建设提供了重要的积雪类型地物波谱数据，为积雪全波段的遥感物理模型研究、积雪类型识别、积雪参数信息提取提供基础数据。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-7">
      <div class="foot">
        <img src="/images/snowman.png">
      </div>
      <div class="foot">
        <div class="foot-a">
          <span class="span">©中国科学院寒区旱区环境与工程研究所遥感室2016-2017</span>
        </div>
        <div class="foot-a">
          <span class="span"><i class="glyphicon glyphicon-envelope"></i>联系我们</span>
          <span class="span">|邮箱|</span> <a class="" href="mailto:chetao@lzb.ac.cn">chetao@lzb.ac.cn</a>
          <span class="span">|</span><a class="" href="mailto:haoxh@lzb.ac.cn">haoxh@lzb.ac.cn</a>
          <span class="span">|</span><a class="" href="mailto:yaochao94@126.com">yaochao94@126.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
