<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>|观测场</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/yard.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/theam.png" media="screen"/>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/responsive-nav.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <img class="img-nav" src="/images/logo.png">
    </div>
    <div class="col-xs-7">
      <div class="nav-bar">
        <ul class="nav nav-pills nav-list">
          <li role="presentation" class="active-data"><a href="/">首页</a></li>
          <li role="presentation" class="active-data"><a href="news">新闻</a></li>
          <li role="presentation" class="data active-data"><a href="data">数据</a></li>
          <li role="presentation" class="active active-data"><a href="snow">积雪观测</a></li>
          <li role="presentation" class="active-data"><a href="picture">相册</a></li>
          <li role="presentation" class="active-data"><a href="about-ours">关于我们</a></li>
        </ul>
      </div>
      <div class="con-login">
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a class="a-login" href="login">登录</a>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <a class="a-login" href="register">注册</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/2.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>

          <div class="item">
            <img src="/images/1.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="/images/3.jpg" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="new-nav border">
        <div class="col-xs-11 nav-news-list">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="borders"><a href="snow">积雪实验<span
                        class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="active"><a href="yard">积雪观测场<span
                        class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
            <li role="presentation" class="borders"><a href="lab">积雪观测仪器<span
                        class="glyphicon glyphicon-chevron-right a-span"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="news-page border">
        <div class="col-xs-12">
          <span class="tags"><i class="glyphicon glyphicon-record"></i>青海省积雪观测场</span>
        </div>
        <div class="col-xs-12">
          <hr>
        </div>
        <div class="col-xs-12">
          <div class="img-tags">
            <img src="/images/direction.png" class="tag-img">
          </div>
          <div class="img-tags address-tag">
            <span class="address">青海省祁连县冰沟垭口站</span>
          </div>
        </div>
        <div class="col-xs-12">
          <a href="/images/station/DSC_0483.JPG"><img class="img-size" src="/images/station/DSC_0483.JPG"></a>
          <p class="about ">观测场简介</p>
          <p class="p-text-font ">
            祁连县地处祁连山中段腹地，境内平均海拔3169米，县城海拔2787米。祁连山为昆仑秦岭地槽褶皱系的一个典型加里东地槽，褶皱迥返于陆相泥盆系磨拉石建造之前。北祁连山及河西走廊见中、下泥盆统不整合于下古生界（如武威杀木寺）及加里东晚期花岗岩（如九条岭南马良沟等）之上；拉脊山见中、下泥盆统不整合于中、上奥陶统之上；南祁连山乌兰大坂见上泥盆统不整合于下志留统之上，代表祁连山主要于加里东晚期褶皱成山，基本由地槽变为地台发展阶段，故晚古生代一中、新生代均为地台盖层沉积。[5]
          </p>
        </div>

        <div class="col-xs-12">
          <hr>
        </div>

        <div class="col-xs-12">
          <div class="img-tags">
            <img src="/images/direction.png" class="tag-img">
          </div>
          <div class="img-tags address-tag">
            <span class="address">青海省祁连县冰沟积雪观测系统</span>
          </div>
          <div class="col-xs-12">
            <a href="/images/station/snow-system1.jpg"><img class="img-size " src="/images/station/snow-system1.jpg"></a>
            <p class="about">系统简介</p>
            <p class="p-text-font ">
              积雪观测系统是多组先进测量仪器的集成，其设计出发点在于实现网格尺度上积雪的综合观测，形成完整全面的积雪遥感验证数据，服务于积雪遥感及积雪水文研究。该系统可实现数据的自动传输和维护。系统主要观测两个方面：积雪自身物理属性、积雪质能交换过程。通过数据采集与分析系统，将各部分观测整合在一起，实现各项观测量的自动传输与集成。积雪自身物理属性观测仪器包括：SPA积雪属性观测设备、GMON伽马射线雪水当量。测量方法为：使用GMON观测设备进行100平方米区域内雪水当量连续观测，配合GMON
              的连续观测，采用SPA
              积雪观测探头，获取区域内积雪含水量及密度的分层连续数据。在SPA探头布设处，布设超声雪深探测仪。积雪物质能量交换过程的观测仪器包括：防风雨雪量计、涡动观测与辐射四分量、风吹雪粒子测量仪。防风雨雪量计可准确测量不同气象条件下降雪量。涡动观测则主要针对雪面以上能量交换过程中的潜热、感热，并由此获取质量交换过程中雪面升华/凝凝结量。同时采用辐射四分量测量距离2m
              高度处的上行和下行长、短波辐射，辐射测量可获取积雪表面反照率数据，为积雪遥感参数的地面验证提供支持。两套FlowCapt风吹雪粒子测量仪用来测量风吹雪粒子的通量及摩擦风速。太阳分光光度计可用于遥感参数的标定和验证，可自由移动，不进行固定安装。
            </p>
          </div>
        </div>

        <div class="col-xs-12">
          <hr>
        </div>

        <div class="col-xs-12">
          <span class="tags"><i class="glyphicon glyphicon-record"></i>新疆省积雪观测场</span>
        </div>
        <div class="col-xs-12">
          <hr>
        </div>

        <div class="col-xs-12">
          <div class="img-tags">
            <img src="/images/direction.png" class="tag-img">
          </div>
          <div class="img-tags address-tag">
            <span class="address">新疆阿尔泰山额尔齐斯河源区库威冻土和雪特性观测站</span>
          </div>
        </div>
        <div class="col-xs-12">
          <a href="/images/station/DSC_0483.JPG"><img class="img-size" src="/images/station/DSC_0483.JPG"></a>
          <p class="about">观测场简介</p>
          <p class="p-text-font ">
            观测站设于国家基本水文站库威水文站，水文站从1956
            年就开始观测水文、降水和气温等，为我们研究长期气候和水文变化提供了基础资料。水文站控制的流域为额尔齐斯河源区的卡依尔齐斯河，流域面积2494km2，水文站海拔1370
            m，属于新疆阿勒泰地区富蕴县铁买可乡。我们的冻土和雪特性观测站由数据采集器和各种要素的传感器集成一个综合的气象观测系统，主要用于观测雪的各项特征，比如雪深、雪量、雪水含量、雪水密度、雪表面温度等。观测站建于2011
            年8 月初，每30min 记录一次，连续观测。
          </p>
        </div>

        <div class="col-xs-12">
          <hr>
        </div>

        <div class="col-xs-12">
          <div class="img-tags">
            <img src="/images/direction.png" class="tag-img">
          </div>
          <div class="img-tags address-tag">
            <span class="address">新疆阿勒泰积雪观测系统</span>
          </div>
        </div>
        <div class="col-xs-12">
          <a href="/images/station/snow-system.jpg"><img class="img-size " src="/images/station/snow-system.jpg"></a>
          <p class="about">系统简介</p>
          <p class="p-text-font ">
            阿勒泰积雪观测系统是中国科学院寒区旱区环境与工程研究所、中国气象局新疆卫星地面站以及阿勒泰国家气象基准站共建的先进的积雪属性测量平台。它是多组高精度自动测量仪器的集成，其设计出发点在于实现网格尺度上积雪的综合观测，形成完整全面的积雪遥感验证数据，服务于积雪遥感及积雪水文研究。该系统可实现数据的自动传输和维护。系统主要观测两个方面：积雪自身物理属性、积雪质能交换过程。通过数据采集与分析系统，将各部分观测整合在一起，实现各项观测量的自动传输与集成。积雪自身物理属性观测仪器包括：SPA积雪属性观测设备、GMON伽马射线雪水当量。测量方法为：使用GMON观测设备进行区域内雪水当量连续观测，配合GMON
            的连续观测，采用SPA 积雪观测探头，获取区域内积雪含水量及密度的分层连续数据。在SPA探头布设处，布设超声雪深探测仪。
          </p>
          <p class="p-text-font ">
            1.GMON观测
            </br>
            使用GMON观测设备进行雪水当量连续观测。该观测系统采用门字支架，东西各用一个三米的三角支架支撑，分别用钢索牵引固定，门字横梁高3米，长度3米。GMON仪器架在门字型仪器架中间。具体的有效范围需要根据实地的元素含量确定。在GMON探头布设处，布设超声雪深探测仪测量实时雪深。布设红外温度探头测量雪面温度。
          </p>
          <p class="p-text-font ">
            2.SPA观测
            </br>
            SPA可自由移动。配合GMON 的连续观测，采用两条SPA 线带探头（白色的两条，图中可见），获取GMON观测范围内的水平和垂直的雪层廓线密度及含水量。
            SPA两条线带探头长度为5m，一条在距离地面5cm处平行放置，一条自地表用牵引绳索斜拉至立杆，测量垂直雪层廓线数据。
            辐射四分量测量与GMON架设在一起，架设高度1.5m ，辐射探头朝向为南。
            在辐射架下安装土壤属性探头。分别在5cm、15cm处设置温湿探头。在6cm处设置土壤热通量板。
            分别在地表以上5-10-15-20-25-30-35-40-45-50cm处布设温度探头，测量冬季雪层温度变化。
          </p>
          <p class="p-text-font ">
            3.降水观测
            </br>
            防风雨雪量计T200B放置在GMON可感应的范围外，因为水的聚集会影响GMON的测量。该测量仪器采用三称重探头，比较稳定。
          </p>
          <p class="p-text-font ">
            4.涡动观测
            </br>
            由遥感所贾立老师安装。涡动观测可以测量较大范围内感热和潜热通量。
          </p>

        </div>

        <div class="col-xs-12">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-7">
        <div class="foot">
          <img src="/images/snowman.png">
        </div>
        <div class="foot">
          <div class="foot-a">
            <span class="span">©中国科学院寒区旱区环境与工程研究所遥感室2016-2017</span>
          </div>
          <div class="foot-a">
            <span class="span"><i class="glyphicon glyphicon-envelope"></i>联系我们</span>
            <span class="span">|邮箱|</span> <a class="" href="mailto:chetao@lzb.ac.cn">chetao@lzb.ac.cn</a>
            <span class="span">|</span><a class="" href="mailto:haoxh@lzb.ac.cn">haoxh@lzb.ac.cn</a>
            <span class="span">|</span><a class="" href="mailto:yaochao94@126.com">yaochao94@126.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
