
.container{
    width: 1200px;
}
.active-data{
    font-family: YouYuan;
    font-weight: 600;
    font-size: 16px;
}
.nav-pills>li+li{
    margin-left: 16px;
}
.nav-bar{
    margin-top: 30px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
    width: 100%;
    height: 320px;
}
#carousel-example-generic{
    margin-top: 12px;
    margin-bottom: 12px;
    height:300px
}
.alert-success{
    font-family: YouYuan;
    font-weight: 800;
}

.register-info{
    display: inline-block;
    margin-top: 6px;
    float: right;
    /*font-family: STXingkai;*/
    /*font-size: 16px;*/
    /*font-weight: 800;*/
}
.input-sty{
    margin: 8px 0px 8px 12px;
}

.key{
    font-size: 14px;
    color: red;
    display: inline-block;
}
.glyphicon-ok-sign{
    color:#00CC00;
    font-size: 18px;
}
.glyphicon-remove-sign{
    display: inline-block;
    color:red;
    font-size: 18px;
    margin-right: 6px;
}
.glyphicon-star{
    display: inline-block;
    margin-right: 3px;
}
.care{
    font-style: normal;
}
.tags{
    display: inline-block;
    margin-top: 6px;
}
#term{
    height:160px;
}
.btn-primary,.btn-success,.btn-warning{
    width: 140px;
}
.foot-a{
    margin: 12px 6px;
}
.foot{
    display: inline-block;
    float: left;
}
.a-login{
    font-family: YouYuan;
    font-weight: 600;
}
.glyphicon-user,.glyphicon-pencil{
    color:#337ab7;
    display: inline-block;
    margin-right: 6px;
}
.span{
    color:#337ab7;
}