


.container{
    width: 1200px;
}

.active-data{
    font-family: YouYuan;
    font-weight: 600;
    font-size: 16px;
}
.nav-list>li+li{
    margin-right: 6px;
}
.nav-bar{
    margin-top: 30px;
    float:left;
}
.con-login{
    margin-top: 34px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
    width: 100%;
    height: 320px;
}
#carousel-example-generic{
    margin-top: 12px;
    margin-bottom: 12px;
    height:300px
}
.border{
    border-radius: 12px;
    border-color: #EEEEEE;
    border-width: thin;
    border-style: solid;
}
.new-nav{
    width:340px;
    height: 210px;
    display: inline-block;
}
.nav-news-list{
    margin-left: 12px;
    margin-top: 28px;
    color: #2aabd2;

}
.nav-stacked>li+li{
    margin-top: 12px;
}

.news-tag{
    margin-top: 10px;
}
.a-span-news{
    display: inline-block;
    float: right;
}
.tag-news{
    margin-left: 8px;
    font-family: YouYuan;
    font-size: 28px;
    font-weight: 900;
}
.btn-toolbar{
    margin-top: 20px;
}
.tag-news{
    display: inline-block;
    margin-top: 18px;

}

.glyphicon-cd{
    font-size: 16px;
    color: #2aabd2;
}
.new-line{
    margin-top: 2px;
}
.news-page{
    width:760px;
    display: inline-block;
    float: right;
}
.img-tags{
    display: inline-block;
}
.address-tag{
    color: #2aabd2;
}
.borders{
    border-radius: 4px;
    border-color: #DDDDDD;
    border-width: thin;
    border-style: solid;
}
.img-size{
    float:left;
    margin:20px 16px;
    width: 474px;
    height: 260px;
}
.about{
    margin-top:12px;
    font-family: YouYuan;
    font-size: 18px;
    font-weight: 900;
    color: black;
}
.p-text-font{
    padding: 2px 10px;
    text-indent: 16px;
    /*line-height: 26px;*/
}
.a-span{
    display: inline-block;
    float: right;
}
.glyphicon-record{
    font-size: 28px;
    color: #2aabd2;
}
.tags{
    display: inline-block;
    font-family: YouYuan;
    font-size: 28px;
    font-weight: 900;
    color: #2aabd2;
    margin-top: 24px;
}
.img{
    margin: 12px 6px;
}

.foot-a{
    margin: 12px 6px;
}
.foot{
    display: inline-block;
    float: left;
}
.a-login{
    font-family: YouYuan;
    font-weight: 600;
}
.glyphicon-user,.glyphicon-pencil{
    color:#337ab7;
    display: inline-block;
    margin-right: 6px;
}
.span{
    color:#337ab7;
}